.container {
    font-family: Arial, sans-serif;
	display: flex;
    border: 20px solid black;
    min-height: 400px;
}
.sidebar {
    width: 30%;
    background-color: light green;
    border-right: 1px solid darkgray;
}
.sidebar li {
    padding: 10px 20px;
    cursor: pointer;
}
.content {
    padding: 20px 40px;
}
